/* #div-transition {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 75, 60, 0.807);
}

.div-planta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.div-planta #img-planta {
  border-radius: 15px;
  height: 60%;
  width: 60%;
} */
