.search-bitacora-page {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  font-family: var(--font3);
}

.search-container {
  width: 80%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.773);
}

.titulo-buscar {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  color: #333;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.search-select,
.search-input,
.search-button {
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.1rem;
  border: 2px solid #ddd;
}

.search-select {
  background-color: #f8f9fa;
  color: #333;
}

.search-input {
  background-color: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.search-button {
  background-color: #3498db;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none;
}

.search-button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.loading-message {
  margin: 20px auto;
}

.error-message {
  color: #e74c3c;
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

.results-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.results-container p {
  font-size: 1.1rem;
  text-align: center;
  color: #7f8c8d;
}

.results-container h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}
