.pagina-recuperar {
  background-color: rgb(31, 113, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.div-FORM-RC {
  background-color: white;
  max-width: 500px;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  animation: fadeIn 1s ease;
}

.div-FORM-RC:hover {
  box-shadow: 0 0 20px black;
  transition: box-shadow 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.div-FORM-RC h1 {
  font-size: 2rem;
  color: #32797d;
  font-family: var(--font3);
  margin-bottom: 1rem;
}

.descripcionRC {
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font3);
  color: #666;
  line-height: 2;
  margin-bottom: 1rem;
}

.formularioRC {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelCorreo {
  font-size: 1rem;
  font-family: var(--font3);
  font-weight: bold;
  color: black;
  text-align: left;
}

.inputCorreoRC {
  padding: 1rem;
  border-radius: 10px;
  border: 0px;
  font-family: var(--font3);
  font-weight: bold;
  background-color: rgb(223, 224, 224);
}

.inputCorreoRC:focus {
  outline: 0;
  border: solid 1px #32797d;
  box-shadow: 0 0 30px #32797d;
  transition: box-shadow 0.3s ease;
}

.boton-recuperar {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #3c6e71;
  font-family: var(--font3);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .div-FORM-RC {
    width: 80%;
  }
}
