#featured {
  font-family: 'Arial', sans-serif;
  /* background-color: #f4f9f9; */
  padding: 20px;
  color: #333;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-hojas-verdes-dibujadas-mano_23-2149133885.jpg");
  object-fit: cover;
  /* background-size: cover; */
  background-position: center;
}

.featured-species-section {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.featured-species-section h1 {
  font-size: 2.5rem;
  color: #2a7d2a;
  margin-bottom: 1.5rem;
  font-weight: 700;
  background-color: whitesmoke;
  border-radius: 20px;
}

.species-list {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}

.species-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: justify;
}

.species-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.species-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.species-item img:hover {
  transform: scale(1.05);
}

.species-item h2 {
  font-size: 1.5rem;
  color: #2a7d2a;
  padding: 15px 20px 5px;
}

.species-item p {
  font-size: 1rem;
  color: #555;
  padding: 0 20px 15px;
  line-height: 1.6;
}