@import url("../../Fonts.css");

.container-login {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: slategray; */
  width: 50%;
  border-right: solid 3px cornflowerblue;
}

.form-login {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1rem;
  /* background-color: green; */
}

#img-logoPag {
  width: 2cm;
  height: 2cm;
  object-fit: cover;
  border-radius: 50%;
}

.text {
  color: white;
  font-size: 1rem;
  font-family: var(--font3);
}

#email,
#password {
  font-family: var(--font1);
  font-size: 1rem;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  border: 0px;
  background-color: rgb(20, 20, 20);
}

#email:focus,
#password:focus {
  outline: 1px solid cornflowerblue;
  box-shadow: 0 0 30px cornflowerblue;
}

.div-imgLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  width: 50%;
}

#img-login {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: 20px;
  padding: 2% 1%;
}

.btn {
  border-radius: 10px;
  border: 0;
  font-weight: bold;
  font-family: var(--font3);
}

.btn:hover {
  background-color: white;
}

.btn1 {
  padding: 12px 0;
  margin-top: 1rem;
  width: 100%;
  background-color: cornflowerblue;
}

.btn2 {
  background-color: rgb(248, 188, 58);
}

.text2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: var(--font3);
  color: gray;
  text-align: center;
  width: 50%;
  margin-top: 2rem;
  /* background-color: red; */
  gap: 1rem;
}

/*  */

#link-RecContra {
  font-family: var(--font3);
  margin: 1rem auto;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .container-login {
    flex-direction: column;
    justify-content: flex-start;
  }
  .div-form {
    display: flex;
    width: 80%;
    margin-top: 2rem;
    padding-top: 1rem;
    border-right: 0;
    border-bottom: solid 3px cornflowerblue;
    padding-bottom: 1rem;
  }

  .form-login {
    width: 100%;
  }

  .div-imgLogin {
    width: 100%;
    margin: 1rem;
  }
}
