.container-NavBar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font3);
  /* font-weight: bold; */
  font-size: 1.2rem;
  padding: 10px;
}

.contenido {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#logo:hover {
  transform: rotateY(360deg);
  transition: transform 1s ease;
}

.a-NavBar {
  padding: 1rem;
  text-decoration: none;
  color: white;
}

.a-NavBar:hover {
  border-bottom: solid 1px white;
}

@media (max-width: 1024px) {
  .container-NavBar {
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 1rem;
  }

  .contenido {
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
}
