.carousel {
  position: relative;
  width: 80%;
  height: 70vh;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}

.img-plantas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.carousel .img-plantas.active {
  opacity: 1;
  z-index: 1;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 2;
  padding: 0 2rem;
}

.carousel-arrow {
  background-color: transparent;
  color: white;
  width: 4rem;
  height: 4rem;
  font-family: var(--font10);
  font-size: 3rem;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease;
}

.carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
