.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  margin-bottom: -80px;
  box-shadow: 2px 1px 1px rgba(88, 87, 87, 0.961);
}

.carousel-wrapper {
  margin-top: -80px;
  width: 80%;
  background-color: black;
}

.carousel-item {
  height: 500px;
}

.carousel-image {
  box-shadow: -2px -2px 26px 6px blue inset, 5px 5px 10px 1px #000000 inset;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, box-shadow 0.4s ease; /* Transición suave */
}

.carousel-image:hover {
  transform: scale(1.1); /* Aumenta un 10% en ambos ejes */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra sutil */
}


