#tips-page-margin {
  margin: 30px;
  font-family: 'Georgia', serif;
  color: #2e2e2e;
}


.tips-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-hojas-verdes-dibujadas-mano_23-2149133885.jpg");
  object-fit: cover;
  /* background-size: cover; */
  background-position: center;
}

.tips-content {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;

}

.tips-content h1 {
  font-size: 2.5rem;
  color: #14532d;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.tip {
  background: linear-gradient(135deg, #f0f5f3, #e8f3ee);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tip:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.tip h2 {
  font-size: 1.5rem;
  color: #117a3b;
  margin-bottom: 0.5rem;
}

.tip p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .tips-content {
    padding: 20px;
  }

  .tips-content h1 {
    font-size: 2rem;
  }

  .tip h2 {
    font-size: 1.3rem;
  }

  .tip p {
    font-size: 0.9rem;
  }
}