:root {
  --font1: "Economica", sans-serif;
  --font2: "Tangerine", cursive;
  --font3: "Poiret One", sans-serif;
  --font4: "Gruppo", sans-serif;
  --font5: "Girassol", serif;
  --font6: "Alegreya SC", serif;
  --font7: "Nixie One", system-ui;
  --font8: "Fredericka the Great", serif;
  --font9: "Jacques Francois Shadow", serif;
  --font10: "Rubik Doodle Shadow", system-ui;
}
