.padre {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://wallpapercave.com/wp/wp9247076.jpg");
  background-position: center;
  background-size: cover;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  /* background-color: rgba(19, 18, 18, 0.549); */
}

.formRegister {
  padding: 1.5rem 3rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.textInfo {
  font-family: var(--font3);
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding-bottom: 1rem;
}

.divInputNombres,
.divInputApellidos,
.divInputTelefono,
.divInputRol {
  color: white;
  font-family: var(--font3);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputNombre,
.inputApellido,
.inputTelefono,
.selectRol,
.btnSubmit {
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.1);
}

.inputNombre::placeholder,
.inputApellido::placeholder,
.inputTelefono::placeholder {
  color: white;
}

.inputNombre:focus,
.inputApellido:focus,
.inputTelefono:focus {
  border: solid 1px;
  border-color: #1485ff;
  box-shadow: 0 0 50px #1485ff;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.selectRol:focus {
  color: black;
}

.btnSubmit {
  font-family: var(--font3);
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
}

.btnSubmit:hover {
  background-color: lightgreen;
  box-shadow: 0 0 50px 0 lightgreen;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.floating-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.floating-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
}

.floating-img:hover {
  box-shadow: 0 0 500px 10px greenyellow;
}

@media (max-width: 1024px) {
  .padre {
    flex-direction: column;
    gap: 0;
  }

  .container-form {
    margin-top: 2rem;
    width: 100%;
    height: auto;
  }

  .floating-div {
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 100%;
    height: 100%;
  }

  .floating-img {
    width: 50%;
    height: 50%;
  }
}
